<!-- account_deleted.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Account Deleted</title>
    <style>
         .profile-container {
            margin-top: 120px;
            background-color: #fff; /* White background */
            border: 1px solid #ccc; /* Add a border for styling */
            border-radius: 10px; /* Add rounded corners */
            padding: 30px; /* Add padding to the box */
            max-width: 600px; /* Set a maximum width for the box */
        }
    </style>
</head>
<body>
<center>
<div class="profile-container">
    <h1>Account Deleted</h1>
    <p>Your account has been successfully deleted.</p>
</div>
</center>
</body>
</html>
