{% extends 'patient_base.html' %}

{% block content %}
<style>
  .form-group {
    margin-bottom: 15px;
    margin-left: 200px;
    margin-right: 200px;
}
.contact .php-email-form {
  width: 100%;
  margin-top: 30px;
  background: #fff;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.08);
}

.contact .php-email-form .form-group {
  padding-bottom: 20px;
}

.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #df1529;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .error-message br+br {
  margin-top: 25px;
}

.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #059652;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #059652;
  border-top-color: #fff;
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}

.contact .php-email-form input:focus,
.contact .php-email-form textarea:focus {
  border-color: var(--color-primary);
}

.contact .php-email-form input {
  height: 48px;
}

.contact .php-email-form textarea {
  padding: 10px 12px;
}

.contact .php-email-form button[type=submit] {
  background: var(--color-primary);
  border: 0;
  padding: 12px 40px;
  color: #fff;
  transition: 0.4s;
  border-radius: 50px;
}

.contact .php-email-form button[type=submit]:hover {
  background: #ec2727;
}
</style>
<div><br><br></div>

  <div class="container">
    <h1 align="center">Blood Request Form</h1>
    <form method="post">
      {% csrf_token %}
      <div class="form-group">
        <label for="donor_name">Patient Name:</label>
        <input type="text" id="donor_name" name="patient_name" class="form-control" value="{{ user.first_name }} {{ user.last_name }}" readonly>
      </div>
      <div class="form-group">
        <label for="blood_type">Blood Type:</label>
        <input type="text" id="blood_type" name="blood_type" class="form-control" value="{{ blood_type }}" readonly>
      </div>
      <div class="form-group">
        <label for="units_needed">Units Needed:</label>
        <input type="number" name="units_needed" id="units_needed" class="form-control" required>
      </div>
      <div class="form-group">
        <label for="additional_info">Additional Information:</label>
        <textarea name="additional_info" id="additional_info" class="form-control" rows="4"></textarea>
      </div>
      <div class="form-group">

      <label for="city">Select City:</label>
       <select name="city" id="city" class="form-control" required onchange="updateHospitals()">
       {% for city_data in cities %}
       <option value="{{ city_data.id }}">{{ city_data.name }}</option>
       {% endfor %}
      </select>
    </div>
      <div class="form-group">
        <label for="hospital_id">Select Hospital:</label>
        <select name="hospital_id" id="hospital_id" class="form-control" required>
          {% for hospital in hospitals %}
            <option value="{{ hospital.user.id }}">{{ hospital.first_name }} Hospital</option>
          {% endfor %}
        </select>
      </div>
      <center>
      <button type="submit" class="btn btn-primary">Submit Request</button></center>
    </form>
  </div>
  <br>
  <script>
    function updateHospitals() {
    var selectedCityId = document.getElementById('city').value;
  
    // Fetch hospitals based on the selected city using AJAX
    fetch('http://localhost:8000/patient/get_hospitals/?city_id=' + selectedCityId)
      .then(response => response.json())
      .then(data => {
        var hospitalsDropdown = document.getElementById('hospital_id');
        hospitalsDropdown.innerHTML = '';
  
        // Populate hospitals dropdown with the retrieved data
        data.forEach(hospital => {
          var option = document.createElement('option');
          option.value = hospital.id;
          option.text = hospital.first_name + ' Hospital';
          hospitalsDropdown.add(option);
        });
      })
      .catch(error => console.error('Error fetching hospitals:', error));
  }

    
  </script>
  
{% endblock %}
