{% extends 'base.html' %}
{% block content %}
<style>
    /* styles.css */
    .password-reset-form {
        background-color: #f9f9f9;
        border: 1px solid #ddd;
        border-radius: 5px;
        padding: 20px;
        text-align: center;
        max-width: 400px;
        margin: 0 auto;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }

    .password-reset-form h2 {
        font-size: 24px;
        margin-bottom: 20px;
    }

    .password-reset-form p {
        font-size: 16px;
        margin-bottom: 20px;
    }

    .password-reset-form form {
        text-align: left;
    }

    .password-reset-form .btn {
        background-color: #007bff;
        color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
    }

    .password-reset-form .btn:hover {
        background-color: #0056b3;
    }

    .password-reset-form .alert {
        color: green;
        font-weight: bold;
    }
</style>
<div><br><br><br><br><br><br></div>
<div class="password-reset-form">
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success">{{ message }}</div>
        {% endfor %}
    {% else %}
    <br><br>
        <h2>Reset Password</h2>
        <p>Enter the email address associated with your account to reset your password.</p>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Reset Password</button>
        </form>
    {% endif %}
</div>
<div><br><br><br><br><br></div>
{% endblock %}
