{% extends 'patient_base.html' %}

{% block content %}
<style>
        .password-change-form {
            max-width: 500px;
            margin: 0 auto;
            padding: 20px;
            background-color: #f9f9f9;
            {% comment %} border: 1px solid #ddd; {% endcomment %}
            border-radius: 5px;
            {% comment %} box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); {% endcomment %}
        }
        p {
            margin: 0;
            margin-bottom: 5px;
        }
        input, select, textarea {
            font-family: inherit;
            font-size: inherit;
            border-radius: 10px;
            line-height: inherit;
        }
        .form-title {
            font-size: 24px;
            margin-bottom: 20px;
        }
    
        .password-change-form form {
            text-align: left;
        }
    
        .password-change-form .btn {
            background-color: #007bff;
            color: #fff;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
        }
    
        .password-change-form .btn:hover {
            background-color: #0056b3;
        }
    </style>
    <div><br><br><BR><br></div>
<div class="password-change-form">
    <h2 class="form-title">Change Your Password</h2>
    <form method="post" class="password-change-form">
        {% csrf_token %}
        {{ form.as_p }}
        <center>
        <button type="submit" class="btn btn-primary">Change Password</button></center>
    </form>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
</div>


<div><br><br><BR><br></div>

{% endblock %}
